---
import Layout from "../layouts/Layout.astro";
import ColabCard from "../components/Colab_card.astro";
import Preview_project from "../components/Preview_project_card.astro";
import Alert from "../components/Alert.astro";

import { getCollection } from "astro:content";
const projects = await getCollection("projects");
const contributors = await getCollection("contributors");
---

<Layout title="Kukulc4n • Home">
  <Alert />
  <div class="text-center p-4 gap-4">
    <p class="p-4">Projects:</p>
    <div
      class="conteiner lg:flex lg:felx-row md:flex md:flex-wrap flex flex-wrap place-self-center p-2 gap-4"
    >
      {
        projects.map((project) => {
          const { slug, data } = project;
          const { p_name, m_by, t_use } = data;
          return (
            <a href={`/Projects/${slug}`}>
              <Preview_project
                project_name={p_name}
                made_by={m_by}
                tec_use={t_use}
              />
            </a>
          );
        })
      }
    </div>
  </div>
  <div class="conteiner">
    <p id="Contributors" class="p-4">Contributors:</p>
    {
      contributors.map((contributor) => {
        const { slug, data } = contributor;
        const { colab_name, tec, email, user_img } = data;

        return (
          <ColabCard
            colab_name={colab_name}
            handle_tec={tec}
            colab_email={email}
            colab_img={user_img}
          />
        );
      })
    }
  </div>
</Layout>
