---
import Layout from "../layouts/Layout.astro";
import ColabCard from "../components/Colab_card.astro";
import PreviwProjectCard from "../components/Preview_project_card.jsx";
import Alert from "../components/Alert.astro";

import { getCollection } from "astro:content";
const projects = await getCollection("Projects");
const contributors = await getCollection("Contributors");
---

<Layout title="Kukulc4n • Home">
  <Alert />
  <div id="Projects" class="text-center p-4 gap-4 text-Subtitle_color">
    <p class="p-4">Projects:</p>

    <div
      class="conteiner lg:flex lg:felx-row md:flex md:flex-wrap flex flex-wrap place-self-center p-2 gap-4"
    >
      {
        projects.map((project) => {
          const { slug, data } = project;
          const { p_name, m_by, t_use, images } = data;
          return (
            <a href={`/Projects/${slug}`}>
              <PreviwProjectCard
                client:idle
                key={slug}
                project_name={p_name}
                made_by={m_by}
                tec_use={t_use}
                images={images}
              />
            </a>
          );
        })
      }
    </div>
  </div>

  <div class="conteiner">
    <div>
      <p id="Contributors" class="text-center text-Subtitle_color p-4">
        Contributors:
      </p>

      {
        contributors.map((contributor) => {
          const { slug, data } = contributor;
          const { colab_name, tec, email, user_img } = data;

          return (
            <ColabCard
              key={slug}
              colab_name={colab_name}
              handle_tec={tec}
              colab_email={email}
              colab_img={user_img}
            />
          );
        })
      }
    </div>
  </div>
</Layout>
