---
import type { ImageMetadata } from "astro";
import Image from "astro/components/Image.astro";

interface CardProyectProps {
    slug: string;
    project_name: string;
    made_by: string;
    imagePath: string;
    tec_use: string;
}
const { project_name, made_by, tec_use, imagePath } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/*.{jpeg,jpg,png,gif}",
);
if (!images[imagePath])
    throw new Error(
        `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`,
    );
---

<div
    class="container min-w-min max-w-fit felx flex-col object-center bg-blue-400 border-2 rounded-lg relative"
>
    <div class="justify-self-center p-2">
        <div class="slider size-32">
            <Image src={imagePath} />
            <Image src={imagePath} />
        </div>
    </div>

    <button id={`button_prev`} class="absolute group-hover:block top-1/2 left-0"
        >⬅</button
    >

    <button id={`button_next`} class="absolute top-1/2 right-0">➡</button>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const slider = document.querySelector(
                ".index_slider",
            ) as HTMLElement;

            let nextBtn = document.getElementById(`button_next`);
            let prevBtn = document.getElementById(`button_prev`);

            nextBtn.onclick = () => {
                slider.append(slider.querySelector("img:first-child"));
            };

            prevBtn.onclick = () => {
                slider.prepend(slider.querySelector("img:last-child"));
            };
        });
    </script>
    <div class="place-items-start p-2">
        <h2>Project: {project_name}</h2>
        <p>By: {made_by}</p>
        <p>Tec invol: {tec_use}</p>
    </div>
</div>
