---
import PreviwProjectCard from "../../components/Project_card.astro";
import Layout from "../../layouts/Layout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
    const projects = await getCollection("projects");
    return projects.map((project) => ({
        params: {
            id: project.slug,
        },
        props: {
            project,
        },
    }));
}

const { project } = Astro.props;
const { data } = project;
const { p_name, m_by, t_use, images } = data;
const { Content } = await render(project);
export const prerender = true;
---

<Layout title=`Kukulc4n • Projects-${data.p_name}`>
    <div class="flex flex-grow-2">
        <div class="p-2">
            <PreviwProjectCard
                project_name={p_name}
                made_by={m_by}
                tec_use={t_use}
                images={images}
            />
        </div>
        <div class="center p-2 py-14">
            <Content />
        </div>
    </div>
</Layout>
