---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
    const projects = await getCollection("projects");
    return projects.map((project) => ({
        params: {
            id: project.slug,
        },
        props: {
            project,
        },
    }));
}
const images = import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/*.{jpeg,jpg,png,gif}",
);

if (!images[imagePath])
    throw new Error(
        `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`,
    );

const { project } = Astro.props;
const { data } = project;
const { p_name, m_by, t_use } = data;
const { Content } = await render(project);
export const prerender = true;
---

<Layout title=`Kukulc4n • Projects-${data.p_name}`>
    <div
        class="container min-w-min max-w-fit felx flex-col object-center bg-blue-400 border-2 rounded-lg relative"
    >
        <div class="justify-self-center p-2">
            <div class="index_slider size-32">
                <Image src={images[imagePath]()} />
                <Image src={} />
            </div>
        </div>
        <div>
            <button
                id={`button_prev`}
                class="absolute group-hover:block top-1/4 left-0">⬅</button
            >

            <button
                id={`button_next`}
                class="absolute group-hover:block top-1/4 right-0">➡</button
            >
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                const slider = document.querySelector(
                    ".index_slider",
                ) as HTMLElement;

                let nextBtn = document.getElementById(`button_next`);
                let prevBtn = document.getElementById(`button_prev`);

                if (slider && nextBtn && prevBtn) {
                    // Verifica que los elementos existen antes de asignar los eventos.
                    nextBtn.onclick = () => {
                        slider.append(slider.querySelector("img:first-child"));
                    };

                    prevBtn.onclick = () => {
                        slider.prepend(slider.querySelector("img:last-child"));
                    };
                } else {
                    console.error(
                        "Alguno de los elementos del slider no se encontró.",
                    );
                }
            });
        </script>
        <div class="place-items-start p-2">
            <h2>Project: {p_name}</h2>
            <p>By: {m_by}</p>
            <p>Tec invol: {t_use}</p>
            <Content />
        </div>
    </div>
</Layout>
